Source/Core/Configuration/DatabaseConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Database">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="StoredProcedures">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Procedure" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="SchemaName" use="optional"/>
											<xs:attribute type="xs:string" name="Name" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:string" name="Namespace"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="UserDefinedTableTypes">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Type" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="SchemaName" use="optional"/>
											<xs:attribute type="xs:string" name="Name" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:string" name="Namespace"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>